{{#each this.flashMessages.queue as |item|}}
  <FlashMessage @flash={{item}} as |component flash|>
    <div class="grid-x">
      <div class="large-6 cell">
        <div data-alert class="callout {{flash.type}}">
          {{flash.message}}
        </div>
      </div>
    </div>
  </FlashMessage>
{{/each}}
