<div class="grid-x">
  <div class="cell">
    <h1>Modify subscription</h1>
  </div>
</div>

{{subscription-form
  secondaryButton=(component "delete-button" on-click=(action "deleteSubscription"))
  subscription=model
  form-submitted=(action "saveSubscription")
}}
