<div class="grid-x">
  <div class="cell">
    <h1>Modify subscription</h1>
  </div>
</div>

<SubscriptionForm
  @formSubmitted={{this.saveSubscription}}
  @secondaryButton={{component "delete-button" onClick=this.deleteSubscription}}
  @subscription={{this.model}}
/>
