<div class="grid-x">
  <div class="cell">
    <h1>Modify subscription</h1>
  </div>
</div>

<SubscriptionForm
  @formSubmitted={{action "saveSubscription"}}
  @secondaryButton={{component "delete-button" onClick=(action "deleteSubscription")}}
  @subscription={{this.model}}
/>
