<div class="grid-x">
  <div class="cell">
    <h1>Subscriptions</h1>
  </div>
</div>

{{flash-messages}}

<div class="grid-x">
  <div class="cell">
    <SubscriptionTable @subscriptions={{currentSubscriptions}} data-test-subscriptions-type="current" />
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    {{#link-to "subscriptions.new"}}
      Add new subscription
    {{/link-to}}
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    <h4>Upcoming</h4>
    <SubscriptionTable @subscriptions={{futureSubscriptions}} data-test-subscriptions-type="future" />
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    <h4>Past</h4>
    <SubscriptionTable @subscriptions={{pastSubscriptions}} data-test-subscriptions-type="past" />
  </div>
</div>
