<div class="grid-x">
  <div class="cell">
    <h1>Subscriptions</h1>
  </div>
</div>

{{flash-messages}}

<div class="grid-x">
  <div class="cell">
    <table>
      <thead>
        <tr>
          <th>Sent to</th>
          <th>Location</th>
          <th>Start</th>
          <th>End</th>
          <th>Units</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each model as |subscription|}}
          <SubscriptionRow @subscription={{subscription}} />
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    {{#link-to "subscriptions.new"}}
      Add new subscription
    {{/link-to}}
  </div>
</div>
