<div class="grid-x">
  <div class="cell">
    <h1>Subscriptions</h1>
  </div>
</div>

<FlashMessages />

<div class="grid-x">
  <div class="cell">
    <SubscriptionTable @subscriptions={{this.currentSubscriptions}} data-test-subscriptions-type="current" />
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    <LinkTo @route="subscriptions.new">
      Add new subscription
    </LinkTo>
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    <h4>Upcoming</h4>
    <SubscriptionTable @subscriptions={{this.futureSubscriptions}} data-test-subscriptions-type="future" />
  </div>
</div>

<div class="grid-x">
  <div class="cell">
    <h4>Past</h4>
    <SubscriptionTable @subscriptions={{this.pastSubscriptions}} data-test-subscriptions-type="past" />
  </div>
</div>
